@charset "UTF-8";
@import 'common/reset';
@import 'common/mixin';
@import 'common/images';
@import 'common/variables';
@import 'common/tooltip';

.sortable {
    &.sortableInlineList {
        .sortableItem {
            display: inline-block;
            z-index: 10;
        }
    }
    .globalDragArea {
        background-color: rgba($color: #000000, $alpha: 0.3);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;

        .dragView {
            max-width: 100px;
            max-height: 100px;
        }
    }
}
