@charset "UTF-8";
$imageDir:'../entry/images';
$lineImageDir:'../images';

@import '../../entry/scss/widget/Backpack';

.Backpack {
  border-left: 1px solid #e0e0c3;
  background-color: #fffdea;
  .titleArea {
	border-bottom: 1px solid #e0e0c3;
	.icon {
	  background-image: url('#{$lineImageDir}/back_pack_button.png');
	}
  }

  .itemArea {
	.item {
	  &.active {
		border-color: #1c8850;
		background-color: #1c8850;
	  }
	  border: 1px solid #e0e0c3;
	  border-radius: 8px;
	  background-color: #e0e0c3;
	  .closeButton {
		background: url('#{$lineImageDir}/btn_pop_chk_del.png');
		background-size:24px;
	  }
	  .imageWrapper {
		background-color: $white;
	  }
	}
  }

  .loading {
	.image {
	  background: url('#{$lineImageDir}/progress/upload_loading.gif');
	  background-size: 60px;
	}
  }

  .dragArea {
	border: 2px dashed #2578d6;
	background-color: rgba(80, 180, 250, 0.9);

	.icon {
	  background: url('../#{$imageDir}/img_backpack_plus.svg');
	}

	.desc {
	  color: #ffffff;
	}
  }
}
