@charset "UTF-8";

.table_file_add_content {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    .file_add,
    .load_web,
    .new_add_box {
        position: relative;
        padding: 46px 45px;
        background-color: #f9fdff;
        border: 2px dashed #d6e9f4;
        border-radius: 6px;
        .dsc {
            position: relative;
            height: 64px;
            padding-left: 82px;
            background-image: url('#{$imageDir}/IcoFileUploadBig.svg');
            background-size: 64px auto;
            background-repeat: no-repeat;
        }
        .dsc > strong {
            display: block;
            padding-top: 11px;
            font-size: 20px;
            font-weight: 600;
            color: #2c313d;
            letter-spacing: -0.46px;
            line-height: 22px;
        }
        .dsc > span {
            display: block;
            margin-top: 12px;
            font-size: 14px;
            color: #2c313d;
            letter-spacing: -0.32px;
            line-height: 16px;
        }
        .add_label {
            position: absolute;
            overflow: hidden;
            right: 45px;
            top: 50%;
            box-sizing: border-box;
            width: 180px;
            height: 48px;
            border-radius: 6px;
            border: 1px solid #4f80ff;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #4f80ff;
            text-align: center;
            transform: translateY(-50%);
            cursor: pointer;
            line-height: 48px;
        }
    }
    .load_web .dsc {
        background-image: url('#{$imageDir}/IcoTableLoadWeb.svg');
        background-size: 64px auto;
    }
    .new_add_box .dsc {
        background-image: url('#{$imageDir}/IcoNewTableAdd.svg');
        background-size: 64px auto;
    }
    .file_list_box {
        position: relative;
        height: 156px;
        overflow-x: auto;
        .list_file_add {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
        .upload {
            display: block;
            position: relative;
            overflow: hidden;
            width: 118px;
            height: 142px;
            border: 1px solid #8aa3b2;
            border-radius: 8px;
            background-color: #aac5d5;
            font-weight: 600;
            color: #fff;
            letter-spacing: -0.3px;
            text-align: center;
            cursor: pointer;
            z-index: 10;
        }
        .upload:before {
            display: block;
            width: 64px;
            height: 64px;
            margin: 24px auto 16px;
            content: '';
        }
        .list_inner {
            overflow: hidden;
            margin-left: 132px;
        }
        .obj_list {
            position: relative;
            overflow: hidden;
            margin: 0;
        }
        .obj_list li {
            position: relative;
            margin: 0 0 0 12px;
        }
        .obj_list li:first-of-type {
            margin-left: 0;
        }
        .obj_list li .thmb {
            position: relative;
        }
        .obj_list li .thmb:before {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 64px;
            height: 64px;
            margin: -32px 0 0 -32px;
            background: url(#{$imageDir}/ico_pop_data_thmb.png) no-repeat;
            background-size: 64px auto;
        }
        .obj_list .on .sjt {
            background-color: #4f80ff;
            color: #fff;
        }
        .obj_list li .check {
            overflow: hidden;
            position: absolute;
            left: 6px;
            top: 6px;
            width: 24px;
            height: 25px;
            background-image: url(#{$imageDir}/IcoFileCheckOff.svg);
            background-size: 24px auto;
            cursor: pointer;
            z-index: 20;
            &.active {
                background-image: url(#{$imageDir}/IcoFileCheckOn.svg);
            }
        }
    }
    .load_web {
        .add_label {
            top: 80px;
        }

        .sheet_group {
            display: flex;
            gap: 16px;
            margin-top: 40px;

            .sheet_doc_wrapper {
                flex: 2;
            }

            .sheet_name_wrapper {
                flex: 1;
            }

            .input_wrapper {
                margin-top: 8px;
            }

            .label {
                em {
                    color: #4f80ff;
                }
            }

            label {
                color: #929292;
            }

            input[type='text'] {
                width: 100%;
                height: 40px;
                box-sizing: border-box;
                padding: 0 16px;
                border: 0;
                border: 1px solid #e2e2e2;
                border-radius: 4px;
                line-height: 38px;
                outline: 0;
                letter-spacing: -0.3px;
                background: #ffffff;
            }

            input[type='text']:focus,
            input[type='text']:active {
                border-color: #4f80ff;
            }

            input::placeholder {
                font-size: 14px;
                font-weight: bold;
                color: #979797;
                line-height: 40px;
                letter-spacing: -0.3px;
                font-family: NanumGothicOTF, '나눔고딕', NanumGothic, '맑은 고딕', Malgun Gothic,
                    'Apple SD Gothic Neo', '돋움', dotum, Helvetica, arial, sans-serif;
            }
        }
    }
}
