@charset "UTF-8";

$axis-size: 22px;

.section_container {
    &.zoom_in {
        .aside,
        .sheet_form_box .input {
            display: none;
        }
    }
    .sheet_form_box {
        .btn_zoom_in {
            display: inline-block;
            width: 32px;
            height: 32px;
            margin: 1px 9px 0 0;
            background: url('#{$imageDir}/IconButtonZoomIn.svg') no-repeat;
            background-size: 32px auto;
            vertical-align: top;
            cursor: pointer;
            &.active {
                background-image: url('#{$imageDir}/IconButtonZoomOut.svg');
            }
        }
    }
    .chart_wrap {
        display: flex;
        flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        overflow: auto;
    }
}
.section_container.chart_container {
    flex-direction: row;
    .container_inner {
        display: flex;
        flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        padding: 0 27px 18px;
        background-color: #f8fcff;
    }
    .section_content {
        overflow: auto;
        padding: 0;
        min-height: 538px;
        flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
    }
    .sheet_form_box {
        padding: 18px 0;
        .input {
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            padding: 0 16px;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            background-color: #fff;
            outline: 0;
            font-size: 14px;
            font-weight: 600;
            color: #2c313d;
            letter-spacing: -0.33px;
        }
        .btn_box {
            position: relative;
            overflow: hidden;
            margin-top: 12px;
        }
        .tab {
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
            border: 1px solid #4f80ff;
            border-radius: 4px;
            background-color: #fff;
            vertical-align: top;
            & > a {
                float: left;
                overflow: hidden;
                width: 70px;
                height: 32px;
                border-left: 1px solid #4f80ff;
                font-size: 14px;
                font-weight: 600;
                color: #4f80ff;
                text-align: center;
                line-height: 32px;
                cursor: pointer;
            }
            & > a:first-of-type {
                border-left: 0;
            }
            .active {
                color: #fff;
                background-color: #4f80ff;
            }
        }
        .btn_save {
            position: absolute;
            overflow: hidden;
            box-sizing: border-box;
            top: 0;
            right: 0;
            height: 34px;
            padding: 0 18px;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #555;
            text-align: center;
            line-height: 34px;
            cursor: pointer;
        }
    }
    .chart_box {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex: 1;
        position: relative;
        overflow: hidden;
        .inner {
            display: -webkit-box;
            display: flex;
            -webkit-box-flex: 1;
            flex: 1;
            position: relative;
            overflow: hidden;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            background-color: #f9f9f9;
        }
        .chart_navi {
            flex: 0 0 auto;
            position: relative;
            z-index: 10;
            width: 64px;
            padding: 10px 0;
            border-right: 1px solid #e2e2e2;
            background-color: #f9f9f9;
        }
        .add_link_box {
            display: block;
            position: relative;
            width: 40px;
            height: 40px;
            margin: 12px auto 0;
        }
        .add_link_box .add_link {
            display: block;
            height: 40px;
            background-image: url('#{$imageDir}/icon_chart_sel07_on.svg');
            cursor: pointer;
        }
        .add_link_box .add_link.disabled {
            background-image: url('#{$imageDir}/icon_chart_sel07_off.svg');
        }
        .chart_link {
            display: block;
            width: 40px;
            height: 40px;
            margin: 6px auto;
            background-size: 40px auto;
            cursor: pointer;
        }
        .chart_link.bar {
            background-image: url('#{$imageDir}/icon_chart_sel01_on.svg');
        }
        .chart_link.line {
            background-image: url('#{$imageDir}/icon_chart_sel02_on.svg');
        }
        .chart_link.pie {
            background-image: url('#{$imageDir}/icon_chart_sel03_on.svg');
        }
        .chart_link.scatter {
            background-image: url('#{$imageDir}/icon_chart_sel04_on.svg');
        }
        .chart_link.scatterGrid {
            background-image: url('#{$imageDir}/icon_chart_sel04_on.svg');
        }
        .chart_link.histogram {
            background-image: url('#{$imageDir}/icon_chart_sel05_on.svg');
        }
        .chart_link.scatter_matrix {
            background-image: url('#{$imageDir}/icon_chart_sel06_on.svg');
        }
        .chart_link.bar.disabled {
            background-image: url('#{$imageDir}/icon_chart_sel01_off.svg');
        }
        .chart_link.line.disabled {
            background-image: url('#{$imageDir}/icon_chart_sel02_off.svg');
        }
        .chart_link.pie.disabled {
            background-image: url('#{$imageDir}/icon_chart_sel03_off.svg');
        }
        .chart_link.scatter.disabled {
            background-image: url('#{$imageDir}/icon_chart_sel04_off.svg');
        }
        .chart_link.scatterGrid.disabled {
            background-image: url('#{$imageDir}/icon_chart_sel04_off.svg');
        }
        .chart_link.histogram.disabled {
            background-image: url('#{$imageDir}/icon_chart_sel05_off.svg');
        }
        .chart_link.scatter_matrix.disabled {
            background-image: url('#{$imageDir}/icon_chart_sel06_off.svg');
        }
        .chart_no_result {
            position: relative;
            -webkit-box-flex: 1;
            flex: 1 1;
            overflow: auto;
            .dsc {
                position: absolute;
                left: 50%;
                top: 50%;
                font-size: 16px;
                font-weight: 600;
                color: #4f80ff;
                text-align: center;
                transform: translate(-50%, -50%);
                line-height: 18px;
            }
        }
        .graph_box {
            position: relative;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            overflow: auto;
            padding: 30px;
            background-color: #fff;
            .chart_area {
                svg {
                    margin: auto;

                    :global(.infolayer) {
                        text {
                            font-weight: 600 !important;
                        }
                    }
                }
            }
        }
        .graph_box.pie {
            padding-top: 30px;
            padding-right: 230px;
        }
    }
    .form_box {
        padding: 18px 16px;
        border-bottom: 1px solid #e2e2e2;
        .input_inner {
            position: relative;

            &.margin60 {
                & > div {
                    margin-right: 60px;
                }
            }
        }
        .input_inner:after {
            display: block;
            clear: both;
            content: '';
        }
        .input_inner .tit_label {
            float: left;
            width: 70px;
            font-size: 14px;
            font-weight: 600;
            color: #2c313d;
            letter-spacing: -0.33px;
            vertical-align: top;
            line-height: 43px;
        }
        .input_box {
            overflow: hidden;
            padding-right: 110px;
        }
        .input_inner input[type='text'] {
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            padding: 0 14px;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #2c313d;
            letter-spacing: -0.33px;
        }
        .input_inner .del_btn {
            position: absolute;
            right: 0;
            top: 0;
            box-sizing: border-box;
            width: 94px;
            height: 40px;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #555;
            letter-spacing: -0.33px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
        .input_inner .sort_box {
            position: absolute;
            right: 0;
            top: 4px;
            cursor: pointer;
        }
        .input_inner .sort_box a {
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            width: 94px;
            height: 32px;
            border: 1px solid #e2e2e2;
            border-radius: 4px 0 0 4px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #728896;
            text-align: center;
            letter-spacing: -0.33px;
            line-height: 32px;
            vertical-align: top;
        }
        .input_inner .sort_box a.active {
            border-color: #4f80ff;
            color: #4f80ff;
            z-index: 10;
        }
        .input_inner .sort_box a + a {
            border-radius: 0 4px 4px 0;
            margin-left: -1px;
        }
        .input_inner + .input_inner {
            margin-top: 12px;
        }
        .select_group {
            float: left;
            margin-right: 30px;
        }
        .select_group:first-of-type .tit_label {
            width: 70px;
        }
        .select_group:first-of-type .pop_selectbox {
            margin-left: 0;
        }
        .select_group .tit_label {
            width: auto;
        }
        .select_group .pop_selectbox {
            display: inline-block;
            vertical-align: top;
            margin-left: 19px;
        }
        .select_group .pop_selectbox .select_link {
            width: auto;
            font-size: 14px;
        }
        .select_group .pop_selectbox .tooltip_box {
            top: 57px;
            width: auto;
        }
        .select_group .pop_selectbox .tooltip_inner {
            height: 248px;
            overflow-y: auto;
        }
        .select_group .check_inner {
            position: relative;
            display: block;
            overflow: hidden;
            padding: 16px 0 14px;
            font-size: 14px;
            font-weight: 600;
            color: #2c313d;
            line-height: 16px;
        }
        .select_group .check_inner .text {
            padding-left: 8px;
        }
        .select_group .check_inner > span {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url('#{$imageDir}/ico_unchecked.svg');
            background-size: 16px auto;
            vertical-align: top;
        }
        .select_group .check_inner input[type='checkbox']:checked + span {
            background-image: url('#{$imageDir}/ico_checked.svg');
        }
        .select_group .cnt_box {
            display: inline-block;
            position: relative;
            overflow: hidden;
            width: 106px;
            height: 32px;
            padding: 0 30px;
            margin: 4px 0 0 19px;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            background-color: #fff;
            vertical-align: top;
        }
        .select_group .cnt_box .btn {
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            border-right: 1px solid #e2e2e2;
            background-color: #f2f2f2;
        }
        .select_group .cnt_box .btn:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: url('#{$imageDir}/IconButtonMinus.svg');
            background-size: 11px auto;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            content: '';
        }
        .select_group .cnt_box .btn ~ .btn {
            left: auto;
            right: 0;
            border: 0;
            border-left: 1px solid #e2e2e2;
        }
        .select_group .cnt_box .btn ~ .btn:before {
            background-image: url('#{$imageDir}/IconButtonPlus.svg');
            background-size: 10px auto;
        }
        .select_group .cnt_box .input {
            display: block;
            height: 30px;
            padding: 0;
            border: 0;
            font-size: 14px;
            font-weight: 600;
            color: #2c313d;
            text-align: center;
            letter-spacing: -0.33px;
        }
        .select_group .cnt_width {
            display: inline-block;
            position: relative;
            overflow: hidden;
            width: 70px;
            height: 32px;
            margin: 4px 0 0 19px;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            background-color: #fff;
            vertical-align: top;
            .input {
                display: block;
                height: 30px;
                padding: 0;
                border: 0;
                font-size: 14px;
                font-weight: 600;
                color: #2c313d;
                text-align: center;
                letter-spacing: -0.33;
            }
            &.disabled {
                background-color: #f9f9f9;
                .input,
                .input:read-only {
                    color: #cbcbcb;
                    background-color: #f9f9f9;
                }
            }
        }
        .select_group .cnt_sort {
            display: inline-block;
            cursor: pointer;
        }
        .select_group .cnt_width {
            display: inline-block;
            position: relative;
            overflow: hidden;
            width: 70px;
            height: 32px;
            margin: 4px 0 0 19px;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            background-color: #fff;
            vertical-align: top;
            .input {
                display: block;
                height: 30px;
                padding: 0;
                border: 0;
                font-size: 14px;
                font-weight: 600;
                color: #2c313d;
                text-align: center;
                letter-spacing: -0.33;
            }
            &.disabled {
                background-color: #f9f9f9;
                .input,
                .input:read-only {
                    color: #cbcbcb;
                    background-color: #f9f9f9;
                }
            }
        }
        .select_group .cnt_sort {
            display: inline-block;
            margin: 4px 0 0 19px;
            vertical-align: top;
        }
        .select_group .cnt_sort a {
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            width: 112px;
            height: 32px;
            border: 1px solid #e2e2e2;
            border-radius: 4px 0 0 4px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #728896;
            text-align: center;
            letter-spacing: -0.33px;
            line-height: 32px;
            vertical-align: top;
        }
        .select_group .cnt_sort a.active {
            border-color: #4f80ff;
            color: #4f80ff;
            z-index: 10;
        }
        .select_group .cnt_sort a + a {
            border-radius: 0 4px 4px 0;
            margin-left: -1px;
        }
    }
    .content {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-flex: 1;
        flex: 1;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 6px 0;
        &:not(.table_no_result_content) {
            background-color: #fff;
        }
        .caution_dsc {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
            font-weight: 600;
            color: $DefaultBlue;
            text-align: center;
            line-height: 18px;
        }
    }
    .table_no_result_content {
        .inner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-width: 523px;
            font-family: NanumGothicOTF;
        }
        .dsc_title {
            font-size: 18px;
            font-weight: 600;
            color: #4f80ff;
            text-align: center;
            letter-spacing: -0.42px;
            &:before {
                display: inline-block;
                width: 57px;
                height: 50px;
                margin-right: 9px;
                background-image: url('#{$imageDir}/ImgTableNoResult.svg');
                background-size: 57px auto;
                vertical-align: middle;
                content: '';
            }
        }
        .dsc_list {
            padding: 27px 24px 22px;
            border-radius: 6px;
            border: 1px solid #d6e9f4;
            background-color: #fff;
            color: #555;
            dt {
                margin-bottom: 14px;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.32px;
            }
            dd {
                font-size: 12px;
                line-height: 20px;
                letter-spacing: -0.28px;
            }
        }
    }
}
.graph_box.scatter_matrix {
    min-height: 370px;
    padding-bottom: 30px + ($axis-size * 2);
    padding-left: 30px + ($axis-size * 2);
    box-sizing: border-box;
    .graph {
        float: left;
        position: relative;
    }
    &:after {
        display: block;
        clear: both;
        content: '';
    }
    .graph_title {
        position: absolute;
        top: calc(50% - 13px);
        left: calc(50% + 15px);
        transform: translate(-50%, -50%);
    }
    .graph_title,
    .axis_x,
    .axis_list_x,
    .axis_y,
    .axis_list_y {
        color: #555;
        letter-spacing: -0.5px;
    }
    .axis_x,
    .axis_list_x,
    .axis_y,
    .axis_list_y {
        position: absolute;
    }
    .axis_x,
    .axis_y {
        overflow: hidden;
        height: $axis-size;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .axis_x,
    .axis_list_x {
        left: 50%;
        transform: translateX(-50%);
    }
    .axis_x {
        bottom: -(($axis-size * 2) + 10px);
        max-width: 100%;
    }
    .axis_y {
        display: block;
        bottom: 0;
        left: -(($axis-size * 2) + 10px);
        max-width: 40%;
        transform-origin: 0 0;
        transform: rotate(-90deg);
    }
    .axis_list_x,
    .axis_list_y {
        display: flex;
        justify-content: space-between;
        align-items: self-end;
        font-size: 10px;
    }
    .axis_list_x {
        bottom: -$axis-size;
        width: calc(100% - 22px);
        height: $axis-size;
        margin-left: 11px;
    }
    .axis_list_y {
        flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        top: 0;
        left: -($axis-size + 10px);
        width: $axis-size;
        height: calc(100% - 27px);
    }
    &.type_2 {
        .graph {
            min-width: 134px;
            width: 50%;
            min-height: 134px;
            height: 50%;
        }
        .graph_title {
            font-size: 18px;
        }
        .axis_x,
        .axis_y {
            font-size: 12px;
        }
    }
    &.type_3 {
        .graph {
            min-width: 120px;
            width: 33.3333%;
            min-height: 120px;
            height: 33.3333%;
        }
        .graph_title {
            font-size: 18px;
        }
    }
    &.type_4 {
        .graph {
            min-width: 105px;
            width: 25%;
            min-height: 105px;
            height: 25%;
        }
        .graph_title {
            font-size: 16px;
        }
    }
    &.type_5 {
        .graph {
            min-width: 82px;
            width: 20%;
            min-height: 82px;
            height: 20%;
        }
        .graph_title {
            font-size: 14px;
        }
    }
    &.type_6 {
        .graph {
            min-width: 70px;
            width: 16.6666%;
            min-height: 70px;
            height: 16.6666%;
        }
        .graph_title {
            font-size: 12px;
        }
    }
}

.histogram_legend {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    .legend_list {
        overflow: hidden;
        li {
            display: flex;
            flex-direction: row;
            position: relative;
            min-height: 14px;
            padding-left: 20px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 600;
            color: #2c313d;
            line-height: 14px;
        }
        li:first-of-type {
            margin-top: 0;
        }
        .text {
            position: relative;
            flex: 0 1 auto;
            padding-right: 6px;
            vertical-align: top;
            white-space: nowrap;
        }
        .text ~ .text {
            padding: 0 0 0 7px;
        }
        .text ~ .text:before {
            position: absolute;
            left: 0;
            top: 1px;
            width: 1px;
            height: 12px;
            background-color: #d8d8d8;
            content: '';
        }
        .bull {
            position: absolute;
            left: 0;
            top: 1px;
            width: 12px;
            height: 12px;
        }
    }
}

.chart_tooltip {
    height: 32px;
    padding: 10px 12px 10px;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 12px;
    letter-spacing: normal;
    color: #2c313d;
    font-family: 나눔고딕, NanumGothic;
}
.chart_group {
    position: relative;
    padding: 40px 44px 34px 44px;
}
.chart_group.vertical {
    padding-right: 244px;
}
.chart_group.horizontal {
    padding: 20px 44px 34px 44px;
}
.horizontal_legend_box {
    overflow-y: auto;
    max-height: 81px;
    margin-bottom: 30px;
    text-align: center;
}
.horizontal_legend_box .legend {
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 0;
    font-size: 14px;
    font-weight: 600;
    color: #2c313d;
    letter-spacing: -0.5px;
    line-height: 17px;
}
.horizontal_legend_box .legend em {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 6px;
    vertical-align: top;
}

.pie_legend {
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    width: 210px;
    background-color: #f9f9f9;
    border: 1px solid #f2f2f2;
    overflow-y: auto;
    z-index: 30;
}
.pie_legend .legend_sjt {
    display: block;
    padding: 0 20px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #2c313d;
    line-height: 50px;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pie_legend .legend_sjt em {
    padding-right: 10px;
}
.pie_legend .scroll_box {
    padding-bottom: 18px;
    overflow-y: auto;
    border-top: 1px solid #f2f2f2;
}
.pie_legend .list {
    overflow: hidden;
    padding: 4px 0 0 20px;
}
.pie_legend .list li {
    overflow: hidden;
    height: 14px;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #2c313d;
    line-height: 14px;
}
.pie_legend .list .bg {
    float: left;
    width: 14px;
    height: 14px;
    margin: -1px 2px 0 0;
    vertical-align: middle;
}
.pie_legend .list .cnt {
    float: left;
    overflow: hidden;
    position: relative;
    padding: 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 14px;
    text-align: center;
}
.pie_legend .list .cnt:after {
    position: absolute;
    right: 0;
    top: 1px;
    width: 1px;
    height: 11px;
    background-color: #d8d8d8;
    content: '';
}
.pie_legend .list .cnt:last-child:after {
    display: none;
}
.sheet_box {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1;
    position: relative;
    overflow: hidden;
    margin-left: -23px;
    .inner {
        position: relative;
        -webkit-box-flex: 1;
        flex: 1 1;
        overflow: auto;
    }
}
.data_detail_wrap {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    min-height: 590px;
    background-color: #d6e9f4;
    z-index: 250;
    &.full {
        position: fixed;
        left: 0;
        top: 43px;
        z-index: 251;
    }
    .detail_top {
        position: relative;
        padding: 12px 7px 13px 7px;
        background-color: #ecf8ff;
        border-top: solid 1px #d6e9f4;
        &.fullscreen {
            padding: 8px 12px 8px 8px;
        }
        .switch_btn {
            float: left;
            width: 32px;
            height: 32px;
            background-image: url('#{$imageDir}/btn_switch_link.svg');
            background-size: 32px auto;
            vertical-align: top;

            &.fullscreen {
                background-image: url('#{$imageDir}/btn_switch_link_fold.svg');
            }
        }
        .btn_save {
            overflow: hidden;
            position: absolute;
            margin-left: 16px;
            width: 82px;
            height: 30px;
            border-radius: 4px;
            border: 1px solid #e2e2e2;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #555;
            text-align: center;
            line-height: 28px;
        }
        .tab_box {
            float: left;
            overflow: hidden;
            margin-left: 16px;
            border-radius: 4px;
            li {
                float: left;
                width: 68px;
                height: 30px;
                margin-left: -1px;
                border: 1px solid #4f80ff;
                background-color: #fff;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                line-height: 28px;
            }
            a {
                display: block;
                color: #4f80ff;
            }
            .on {
                background-color: #4f80ff;
            }
            .on a {
                color: #fff;
            }
            li:first-child {
                margin-left: 0;
                border-radius: 4px 0 0 4px;
            }
            li:last-child {
                border-radius: 0 4px 4px 0;
            }
        }
        &:after {
            display: block;
            clear: both;
            content: '';
        }
    }
    .detail_cont {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-flex: 1;
        flex: 1;
        overflow: hidden;
        background-color: #d6e9f4;
        .content_box {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-flex: 1;
            flex: 1;
            overflow: hidden;
            padding: 30px 22px 0;
        }
        .depth_title_box {
            padding-bottom: 15px;
            border-bottom: 1px solid #aac5d5;
            color: #2c313d;
            line-height: 20px;
        }
        .depth_title_box:after {
            display: block;
            clear: both;
            content: '';
        }
        .depth_title_box .tit {
            float: left;
            padding-right: 16px;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.57px;
        }
        .depth_title_box .tit_dsc {
            overflow: hidden;
            font-size: 14px;
            letter-spacing: -0.5px;
        }
        .depth_title_box + .cont_inner {
            margin-top: 20px;
        }
        .input_box {
            min-width: 908px;
        }
        .input_box:after {
            display: block;
            clear: both;
            content: '';
        }
        .input_box .input_inner {
            float: left;
            position: relative;
            width: 424px;
            input[type='text'] {
                width: 100%;
                height: 40px;
                box-sizing: border-box;
                padding: 0 16px;
                border: 0;
                border: 1px solid #e2e2e2;
                background-color: #fff;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 600;
                line-height: 40px;
                outline: 0;
                letter-spacing: -0.3px;
            }
        }
        .input_box .input_inner + .input_inner {
            margin-left: 19px;
        }
        .input_box .chart_del {
            float: left;
            width: 100px;
            height: 38px;
            margin-left: 19px;
            background-color: #fff;
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            color: #555;
            text-align: center;
            line-height: 36px;
        }
        .input_box .chart_del.disabled {
            background-color: #f9f9f9;
            color: #cbcbcb;
            pointer-events: none;
        }
        .input_box .close_btn {
            position: absolute;
            right: 1px;
            top: 1px;
            padding: 8px;
            background-color: #fff;
            border-radius: 4px;
            &:after {
                display: block;
                width: 22px;
                height: 22px;
                background: url('#{$imageDir}/btn_input_close.svg') no-repeat;
                background-size: 22px auto;
                content: '';
            }
        }
        &.table_state .cont_inner {
            margin-top: 0;
        }
        &.chart_state {
            padding: 0;
        }
        &.chart_state .content_box {
            padding: 24px 22px 28px;
        }
        &.chart_state .input_box {
            margin-top: 12px;
        }
        &.chart_state .input_inner {
            width: 743px;
        }
        &.chart_state .input_inner input[type='text']:disabled {
            background-color: #f9f9f9;
            color: #cbcbcb;
        }
        &.chart_state .input_inner input[type='text']:disabled + .close_btn {
            background-color: #f9f9f9;
        }
        &.chart_state .cont_inner {
            overflow: visible;
            margin-top: 12px;
        }
    }
    .cont_inner {
        overflow: auto;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        flex: 1 1;
        -webkit-box-flex: 1;
    }
    :global(.tui-grid-show-lside-area) {
        :global(.tui-grid-lside-area) {
            :global(.tui-grid-body-area .tui-grid-table) {
                border-right: 2px #f2f2f2 solid;
                box-sizing: border-box;
            }
        }
        :global(.tui-grid-rside-area) {
            width: 100%;
            :global(.tui-grid-header-area .tui-grid-cell-header) {
                position: relative;
                &::before {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 1px;
                    height: 20px;
                    margin-top: -10px;
                    background-color: #cbcbcb;
                    content: '';
                }
            }
        }
    }
}

// aside
.aside {
    position: relative;
    overflow: auto;
    -webkit-box-flex: 0;
    flex: none;
    width: 258px;
    box-sizing: border-box;
    background-color: #ecf8ff;
    border: 1px solid #d6e9f4;
    border-top: 0;
    border-radius: 0 0 0 6px;
    .add_btn_box {
        padding: 12px 18px;
        border-bottom: 1px solid #d6e9f4;
        a {
            display: block;
            height: 40px;
            border: 1px solid #4f80ff;
            border-radius: 4px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #4f80ff;
            text-align: center;
            letter-spacing: -0.32px;
            line-height: 40px;
            cursor: pointer;
        }
    }
    .list {
        & > li {
            position: relative;
            padding: 13px 52px;
            height: 22px;
            background-color: #ecf8ff;
            border-bottom: 1px solid #d6e9f4;
            box-sizing: content-box;
            &:before {
                position: absolute;
                left: 18px;
                top: 50%;
                width: 22px;
                height: 22px;
                background-image: url('#{$imageDir}/IconTableList.svg');
                transform: translateY(-50%);
                vertical-align: top;
                content: '';
            }
            .text {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                font-weight: 600;
                color: #2c313d;
                white-space: nowrap;
                word-break: break-all;
                line-height: 22px;
            }
            &.active {
                background-color: #fff;
                z-index: 10;
            }
            .btn_close {
                position: absolute;
                right: 18px;
                top: 50%;
                width: 24px;
                height: 24px;
                background-image: url('#{$imageDir}/IconListDel.svg');
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
    }
    .split_bar {
        position: absolute;
        right: 0;
        top: 50%;
        width: 16px;
        height: 40px;
        background-image: url('#{$imageDir}/IconSplitBar.svg');
        background-size: 16px auto;
        transform: translateY(-50%);
        z-index: 10;
        content: '';
    }
    &.fold {
        overflow: hidden;
        width: 16px;
        .split_bar {
            background-image: url('#{$imageDir}/IconSplitBarFold.svg');
        }
    }
}
