//팝업 뒤로 가기
.imbtn_pop_back {
    background: url(#{$imageDir}/btn_pop_back.png) no-repeat;
    background-size: 40px auto;
}
.imbtn_pop_srch {
    background: url(#{$imageDir}/btn_pop_srch.png) no-repeat;
    background-size: 21px auto;
}
.imbtn_pop_chk_del {
    background: url(#{$imageDir}/btn_pop_chk_del.png) no-repeat;
    background-size: 24px auto;
}
.imbtn_pop_sel_prev {
    background: url(#{$imageDir}/btn_pop_sel_prev.png) no-repeat;
    background-size: 44px auto;
}
.imbtn_pop_sel_next {
    background: url(#{$imageDir}/btn_pop_sel_next.png) no-repeat;
    background-size: 44px auto;
}
.imbtn_pop_upload:before {
    background: url(#{$imageDir}/btn_pop_upload.png) no-repeat;
    background-size: 64px auto;
}
.imbtn_pop_font_bold {
    background: url(#{$imageDir}/btn_pop_font_bold.png) no-repeat;
    background-size: 38px auto;
    &.on {
        background-image: url(#{$imageDir}/btn_pop_font_bold_on.png);
        border-color: #4f80ff !important;
    }
}
.imbtn_pop_font_underline {
    background: url(#{$imageDir}/btn_pop_font_underline.png) no-repeat;
    background-size: 38px auto;
    &.on {
        background-image: url(#{$imageDir}/btn_pop_font_underline_on.png);
        border-color: #4f80ff !important;
    }
}
.imbtn_pop_font_italic {
    background: url(#{$imageDir}/btn_pop_font_italic.png) no-repeat;
    background-size: 38px auto;
    &.on {
        background-image: url(#{$imageDir}/btn_pop_font_italic_on.png);
        border-color: #4f80ff !important;
    }
}
.imbtn_pop_font_through {
    background: url(#{$imageDir}/btn_pop_font_through.png) no-repeat;
    background-size: 38px auto;
    &.on {
        background-image: url(#{$imageDir}/btn_pop_font_through_on.png);
        border-color: #4f80ff !important;
    }
}
.imbtn_pop_font_color {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 66px;
    height: 40px;
    margin-left: 10px;
    background: url(#{$imageDir}/btn_pop_font_color.png) no-repeat;
    background-size: 66px auto;
    cursor: pointer;
    em {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        background-color: #f9f9f9;
        z-index: -1;
    }
    &.on {
        background-image: url(#{$imageDir}/btn_pop_font_color_on.png);
    }
}
.imbtn_pop_font_paint, .imbtn_pop_font_backgroundcolor {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 66px;
    height: 40px;
    margin-left: 10px;
    background: url(#{$imageDir}/btn_pop_font_paint.png) no-repeat;
    background-size: 66px auto;
    cursor: pointer;
    em {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        z-index: -1;
    }
    &.on {
        background-image: url(#{$imageDir}/btn_pop_font_paint_on.png);
        &.clear {
            background-image: url(#{$imageDir}/btn_pop_font_paint_clear_on.png);
            em {
                display: none;
            }
        }
    }
    &.clear {
        background-image: url(#{$imageDir}/btn_pop_font_paint_clear.png);
        em {
            display: none;
        }
    }
    &.clear_on {
        background-image: url(#{$imageDir}/btn_pop_font_paint_clear_on.png);
        em {
            display: none;
        }
    }
}
.imbtn_picker {
    cursor: pointer;
    background: url(#{$imageDir}/btn_pop_picker.svg) no-repeat;
    background-size: 36px auto;
    &.on {
        background: url(#{$imageDir}/btn_pop_picker_on.svg) no-repeat;
    }
}
.btn_pop_color_slide {
    background: url(#{$imageDir}/btn_pop_color_slide.png) no-repeat;
    background-size: 28px auto;
    &.on {
        background-image: url(#{$imageDir}/btn_pop_color_slide_on.png);
        background-size: 38px auto;
    }
}

input[type='checkbox']:checked + .imbtn_pop_checked:before {
    background: url(#{$imageDir}/ico_pop_checked.png) no-repeat;
    background-size: 22px auto;
}

.imico_pop_caution {
    background: url(#{$imageDir}/ico_pop_caution.png) no-repeat;
    background-size: 16px auto;
}
.imico_pop_select_arr_down:after {
    background: url(#{$imageDir}/ico_pop_select_arr_down.png) no-repeat;
    background-size: 8px auto;
}
.imico_pop_select_arr_up:after {
    background: url(#{$imageDir}/ico_pop_select_arr_up.png) no-repeat;
    background-size: 8px auto;
}
.imico_pop_sound_thmb:before {
    background: url(#{$imageDir}/ico_pop_sound_thmb.png) no-repeat;
    background-size: 64px auto;
}

.imico_entrylogo {
    background: url(#{$imageDir}/ico_pop_entrylogo.png) no-repeat;
    background-size: 138px auto;
}
.imico_signup:before {
    background: url(#{$imageDir}/ico_pop_signup.png) no-repeat;
    background-size: 160px auto;
}
.imico_warning {
    background: url(#{$imageDir}/ico_pop_warning.png) no-repeat;
    background-size: 112px auto;
}
.imico_pop_circle_check_on:before {
    background: url(#{$imageDir}/ico_pop_circle_check_on.png) no-repeat;
    background-size: 14px auto;
}
.imico_pop_circle_check:before {
    background: url(#{$imageDir}/ico_pop_circle_check.png) no-repeat;
    background-size: 14px auto;
}
.imico_pop_color_uncheck {
    background: url(#{$imageDir}/ico_pop_color_uncheck.png) no-repeat;
    background-size: 54px auto;
}

.imico_pop_draw_thmb {
    background: url(#{$imageDir}/ico_pop_draw_thmb.png) no-repeat;
    background-size: 160px auto;
}
.imico_pop_mywrite_thmb {
    background: url(#{$imageDir}/imico_pop_mywrite_thmb.png) no-repeat;
    background-size: 160px auto;
}
.imico_pop_key_del:after {
    background: url(#{$imageDir}/ico_pop_key_del.png) no-repeat;
    background-size: 41px auto;
}
.imico_pop_key_del:after {
    background: url(#{$imageDir}/ico_pop_key_del.png) no-repeat;
    background-size: 41px auto;
}
.imico_pop_info_view:before {
    width: 22px;
    background: url(#{$imageDir}/imico_pop_info_view.png) no-repeat;
    background-size: 22px auto;
}
.imico_pop_info_like:before {
    width: 16px;
    background: url(#{$imageDir}/imico_pop_info_like.png) no-repeat;
    background-size: 16px auto;
}
.imico_pop_info_cmt:before {
    width: 16px;
    background: url(#{$imageDir}/imico_pop_info_cmt.png) no-repeat;
    background-size: 16px auto;
}

.imico_exclamation_mark {
    width: 16px;
    height:16px;
    display:inline-block;
    background: url(#{$imageDir}/ico_exclamation_mark.png) no-repeat;
    background-size: 16px 16px;
}
