@charset "UTF-8";

.blind {
	overflow: hidden !important;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	clip: rect(0px, 0px, 0px, 0px) !important;
}

/* skip navigation */
#u_skip {
	position: relative;
	z-index: 2147483647;
}

#u_skip a {
	position: absolute;
	top: -30px;
	left: 0;
	width: 138px;
	border: 1px solid #4ec53d;
	background: #333;
	text-align: center;
}

#u_skip a:active, #u_skip a:focus {
	top: 0;
	text-decoration: none;
}

#u_skip span {
	display: inline-block;
	padding: 2px 6px 0 0;
	color: #fff;
	letter-spacing: -1px;
	font-size: 13px;
	line-height: 26px;
}
