@charset "UTF-8";

$toolbarBackground: #f9f9f9;
$selectedColor: #4f80ff;
$warmgray100: #f9f9f9;
$warmgray200: #f2f2f2;
$warmgray300: #e2e2e2;
$warmgray400: #d8d8d8;
$warmgray700: #555555;
$coolgray400: #aac5d5;
$textColor: #2c313d;
$disabledTextColor: #979797;

$imageDir:'../images' !default;
