@charset "UTF-8";
@import 'common/reset';
@import 'common/variables';
@import 'common/mixin';
@import 'common/gnb_images';
@import 'common/tooltip';

.customScrollWrapper {
    height: 100%;
    overflow: hidden;
    position: relative;

    .customScroll {
        height: 100%;
        width: calc(100% + 15px);
        padding-right: 15px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        -ms-overflow-style: none; 
        overscroll-behavior-y: contain;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display:none;   
        }
    }
    
    @keyframes indicatorShow {
        form {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }
    
    @keyframes indicatorHide {
        form {
            opacity: 1;
        }
    
        to {
            opacity: 0;
        }
    }
    
    .indicator {
        width: 8px;
        min-height: 40px;
        background: rgba($color: #000000, $alpha: 0.8);
        position: absolute;
        top: 0;
        right: 4px;
        opacity: 0;
        background-color: #aac5d5 !important;
        border-radius: 2.5px !important;
        pointer-events: none;
        z-index: 1;
    
        &.show {
            opacity: 0.8;
            animation-fill-mode: none;
        }
    
        &.hide {
            opacity: 0.8;
            animation-duration: 1s;
            animation-name: indicatorHide;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            
        }
    }
}
