@charset "UTF-8";
// @import 'common/reset';
// @import 'common/mixin';
// @import 'common/images';
// @import 'common/tooltip';
@import 'common/variables';
@import 'colors';

@keyframes blink1 {
    24% {
        opacity: 0;
    }
    36% {
        opacity: 1;
    }
    64% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
}
@keyframes blink2 {
    12% {
        opacity: 0;
    }
    24% {
        opacity: 1;
    }
    76% {
        opacity: 1;
    }
    88% {
        opacity: 0;
    }
}
@keyframes blink3 {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    88% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modal_progress {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    user-select: none;

    .progress {
        width: 200px;
        @keyframes play2 {
            0% {
                background-position-x: 0px;
            }
            100% {
                background-position-x: -816px;
            }
        }
        .title {
            position: absolute;
            background: url(#{$imageDir}/progress/text_back.png) no-repeat;
            min-width: 215px;
            min-height: 90px;
            font-size: 27px;
            font-weight: bold;
            line-height: 27px;
            color: #000000;
            text-align: center;
            padding-top: 24px;
            z-index: 10;
            margin: 0 auto;
            margin-top: -20px;
            background-size: 100% 100%;
        }
        .progressEntryBot {
            height: 147px;
            width: 102px;
            margin: 70px auto 13px;
            background: url(#{$imageDir}/progress/entry_loading_sprite.png);
            background-size: cover;
            background-repeat: no-repeat;
            animation: play2 0.9s steps(8) infinite alternate;
        }
    }
    .error {
        position: relative;
        .title {
            position: absolute;
            background: url(#{$imageDir}/progress/text_back.png) no-repeat;
            min-width: 339px;
            min-height: 158px;
            font-size: 27px;
            font-weight: bold;
            line-height: 27px;
            color: #000000;
            text-align: center;
            padding-top: 24px;
            z-index: 10;
            margin: 0 auto;
            margin-top: -20px;
            background-size: 100% 100%;
        }
        .description {
            font-size: 15px;
            line-height: 20px;
            color: #000000;
            text-align: center;
            z-index: 100;
        }

        .close {
            position: absolute;
            background: url(#{$imageDir}/progress/close.png);
            cursor: pointer;
            top: -15px;
            right: -30px;
            width: 21px;
            height: 21px;
            z-index: 100;
            background-size: contain;
        }
        .errorEntryBot {
            height: 176px;
            width: 190px;
            background: url(#{$imageDir}/progress/error.svg) no-repeat;
            margin: 130px auto 0;
        }
    }

    &.loading {
        background-color: rgba(214, 233, 244, 0.95);
    }
    .loading {
        @keyframes play {
            100% {
                background-position: -502px;
            }
        }
        .character {
            height: 84px;
            width: 72px;
            margin: 0 auto 13px;
            background: url(#{$imageDir}/progress/loading_animation.png);
            background-size: cover;
            background-repeat: no-repeat;
            animation: play 0.9s steps(8) infinite alternate;
        }
        .description {
            font-family: NanumGothic;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: -0.32px;
            text-align: center;
            color: $warmgray800;
            white-space: pre-line;
        }
    }
}

.modal_progress_minimize {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    user-select: none;
    height: calc(100% - 34px);

    &.loading {
        background-color: rgba(214, 233, 244, 0.95);
    }
    .loading {
        @keyframes play {
            100% {
                background-position: -502px;
            }
        }
        .character {
            height: 84px;
            width: 72px;
            margin: 0 auto 13px;
            background: url(#{$imageDir}/progress/loading_animation.png);
            background-size: cover;
            background-repeat: no-repeat;
            animation: play 0.9s steps(8) infinite alternate;
        }
        .description {
            font-family: NanumGothic;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: -0.32px;
            text-align: center;
            color: $warmgray800;
            white-space: pre-line;
        }
    }
}
