@charset "UTF-8";

.Table {
    :global(.tui-grid-cell-header) {
        font-family: NanumGothicOTF;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.5px;
        text-align: center;
        color: #2c313d;
        background-color: #f4f4f4;
    }

    :global(.tui-grid-cell-content) {
        font-family: NanumGothicOTF;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.5px;
        text-align: center;
        color: #2c313d;
    }

    :global(.tui-grid-cell-editable:hover) {
        background-color: rgba($color: #00a9ff, $alpha: 0.1);
    }
}
