{
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-proposal-class-properties",
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@hoc": "./src/hoc",
                    "@actions": "./src/actions",
                    "@assets": "./src/assets",
                    "@components": "./src/components",
                    "@utils": "./src/utils",
                    "@constants": "./src/constants",
                    "@selectors": "./src/selectors"
                }
            }
        ]
    ],
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [">0.25%", "ie >= 11"]
                }
            }
        ],
        "@babel/react"
    ]
}
