@charset "UTF-8";
@import '../colors';
@import '../common/variables';

.Backpack {
    width: 135px;
    height: 100%;
    border-left: 1px solid $coolgray300;
    background-color: $coolgray200;

    * {
        box-sizing: content-box;
    }

    .titleArea {
        cursor: pointer;
        height: 42px;
        line-height: 42px;
        border-bottom: 1px solid $coolgray300;
        user-select: none;
        .icon {
            display: inline-block;
            background-image: url(../../images/back_pack_button.svg);
            background-repeat: no-repeat;
            background-size: 32px auto;
            background-position: 50% 50%;
            cursor: pointer;
            width: 32px;
            height: 32px;
            margin: 6px 6px 0 9px;
            vertical-align: top;
        }
        .title {
            display: inline-block;
            width: 67px;
            height: 15px;
            font-family: EntryFont;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.6px;
            color: $coolgray700;
            white-space: nowrap;
        }
    }

    .itemArea {
        width: 100%;
        height: calc(100% - 44px);
        flex-direction: column;

        :global(.rcs-custom-scrollbar) {
            width: 8px;
            right: 4px;
            opacity: 1;
        }
    
        :global(.rcs-inner-handle) {
            border-radius: inherit;
            background-color: $coolgray400;
            border-radius: 2.5px;
        }
        :global(.rcs-inner-container) {
            > div {
                padding-top: 16px;
                padding-bottom: 16px;
                position: relative;
                box-sizing: border-box;
            }
        }

        .item {
            &.active {
                border-color: $lightish-blue;
                background-color: $lightish-blue;
                .imageWrapper {
                    width: 76px;
                    height: 66px;
                    margin: 1px 1px 0;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }
                .closeButton {
                    display: block;
                }
            }
            position: relative;
            width: 88px;
            height: 106px;
            margin: 0 0 8px 16px;
            border: 1px solid $coolgray300;
            border-radius: 8px;
            background-color: $coolgray300;
            cursor: pointer;
            .closeButton {
                display: none;
                width: 24px;
                height: 24px;
                position: absolute;
                background: url(../../images/btn_pop_chk_del.svg);
                top: 6px;
                right: 6px;
            }
            .imageWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                width: 78px;
                height: 67px;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                background-color: $white;
                .image {
                    max-width: 78px;
                    max-height: 67px;
                    height: auto;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    pointer-events: none;
                }
            }
            .imageOverlay {
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                width: 78px;
                height: 67px;
            }
            .input {
                width: 72px;
                height: 22px;
                margin: 3px;
                border: 1px solid $warmgray300;
                border-radius: 4px;
                padding: 0 4px;
                background-color: $white;

                font-family: EntryFont;
                font-size: 10px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.4px;
                color: #2c313d;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .loading {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // text-align: center;

        font-family: EntryFont;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #2c313d;

        .image {
            width: 60px;
            height: 60px;
            background: url(../../images/loading.gif);
            background-size: cover;
        }
    }

    .dragArea {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% - 1px);
        border: 2px dashed #ffc800;
        background-color: rgba(248, 241, 204, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;    
        box-sizing: border-box;
        
        .icon {
            width: 32px;
            height: 32px;
            margin-bottom: 11px;
            background: url(../../images/img_backpack_plus.svg);
            pointer-events: none;
        }
        
        .desc {
            font-family: EntryFont;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: -0.1px;
            white-space: pre;
            text-align: center;
            color: #2c313d;
            pointer-events: none;
        }
    }
}
